﻿@model IEnumerable<FacilitiesOnlinBooking.Model.Request>

@{
    ViewData["Title"] = "GetListRequest";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<head>
    <style>
        #admin {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #admin td, #admin th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #admin tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #admin tr:hover {
                background-color: #ddd;
            }

            #admin th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #04AA6D;
                color: white;
            }

        #student {
            font-family: Arial, Helvetica, sans-serif;
            border-collapse: collapse;
            width: 100%;
        }

            #student td, #student th {
                border: 1px solid #ddd;
                padding: 8px;
            }

            #student tr:nth-child(even) {
                background-color: #f2f2f2;
            }

            #student tr:hover {
                background-color: #ddd;
            }

            #student th {
                padding-top: 12px;
                padding-bottom: 12px;
                text-align: left;
                background-color: #04AA6D;
                color: white;
            }

        button {
            background-color: #04AA6D;
            color: white;
            padding: 10px 20px;
            margin: 8px 0;
            border: none;
            cursor: pointer;
        }

            button:hover {
                opacity: 0.8;
            }

        .cancelbtn {
            width: auto;
            padding: 10px 18px;
            background-color: #f44336;
        }

        .normal {
            width: auto;
            padding: 10px 18px;
            background-color: Highlight;
        }
    </style>
</head>
<body>
    <h1>GetListRequest</h1>

    <p>
        @Html.ActionLink("Create", "CreateRequest", new { /* id=item.PrimaryKey */ }) |
    </p>
    <table class="table">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Id)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.note)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.requestStatus)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Account.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.DateCreated)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Id)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.note)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.requestStatus)
                    </td>
                    <th>
                        @Html.DisplayFor(modelItem => item.Account.name)
                    </th>
                    <td>
                        @Html.DisplayFor(modelItem => item.DateCreated)
                    </td>
                    <td>
                        <button class="normal">
                            @Html.ActionLink("Edit", "Edit", new { id = item.Id })
                        </button>
                        <button class="normal">
                            @Html.ActionLink("Details", "GetRequestDetail", new { id = item.Id })
                        </button>
                        <button class="normal">
                            @Html.ActionLink("Delete", "Delete", new { id = item.Id })
                        </button>
                    </td>
                </tr>
            }
        </tbody>
    </table>
</body>
