﻿@model FacilitiesOnlinBooking.Model.Request

@{
    ViewData["Title"] = "GetRequestDetail";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<h1>GetRequestDetail</h1>

<div>
    <h4>Request</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Id)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Id)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.note)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.note)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.requestStatus)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.requestStatus)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateCreated)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateCreated)
        </dd>
    </dl>
</div>
<div>
    @Html.ActionLink("Edit", "Edit", new { /* id = Model.PrimaryKey */ }) |
    <a asp-action="Index">Back to List</a>
</div>
