﻿<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Login Page </title>
    <style>
        Body {
            font-family: Calibri, Helvetica, sans-serif;
            background-color: pink;
        }

        button {
            background-color: #4CAF50;
            width: 100%;
            color: orange;
            padding: 15px;
            margin: 10px 0px;
            border: none;
            cursor: pointer;
        }

        form {
            border: 3px solid #f1f1f1;
        }

        input[type=text], input[type=password] {
            width: 100%;
            margin: 8px 0;
            padding: 12px 20px;
            display: inline-block;
            border: 2px solid green;
            box-sizing: border-box;
        }

        button:hover {
            opacity: 0.7;
        }

        .cancelbtn {
            width: auto;
            padding: 10px 18px;
            margin: 10px 5px;
        }


        .container {
            padding: 25px;
            background-color: lightblue;
        }
    </style>
</head>
<body>
    <center> <h1> Đăng nhập </h1> </center>
    <div class="container">
        <form action="/Home/LoginAccount" method="post">
            <p>@ViewBag.mess1</p>
            <label>Tên tài khoản : </label>
            <input type="text" placeholder="Nhập tên tài khoản" name="username" required>
            <label>Mật khẩu : </label>
            <input type="password" placeholder="Nhập mật khẩu" name="password" required>
            <button type="submit">Đăng nhập</button>
            <label> Chưa có tài khoản <a href="/Home/Register">Đăng ký</a></label>
        </form>
    </div>
</body>
</html>  